@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* flex */
body {
  display: flex;
  flex-direction: column;
  background-image: url("image/jason-leung-poI7DelFiVA-unsplash.jpg");

  height: 100vh;
}

.boxes {
  display: flex;
  flex-direction: column start;
  flex-wrap: wrap;
  justify-content: center;
}

.searchbar {
  display: fixed;
  padding: 10px 10px;
  border-bottom: 2px solid rgb(43, 43, 43);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 70%;
}
